/* 全体のレイアウトを書く */

body {
	max-width: 960px;
	margin: auto;
	display: grid;
	grid-template-areas: "MainTitle MainTitle" "RemoteController RemoteController" "PlayList-01 PlayList-02";
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 599px) {
	body {
		grid-template-areas: "MainTitle" "RemoteController" "PlayList-01" "PlayList-02";
		grid-template-columns: 1fr;
	}
}

#MainTitle {
	grid-area: MainTitle;
}

#RemoteController {
	grid-area: RemoteController;
}

#PlayList-01 {
	grid-area: PlayList-01;
	margin: 1em;
}

#PlayList-02 {
	grid-area: PlayList-02;
	margin: 1em;
}