/* リモコン関連の指定を書く */

#RemoteController {
	background-color: var(--Color_SubThema);
	color: var(--Color_SubText);
	margin: 1em;
	padding: 1em;
	padding-bottom: 2em;
	display: grid;
	grid-template: "RemoteController--title RemoteController--title RemoteController--title" "RemoteController--Restart RemoteController--Stop RemoteController--Start" "RemoteController--Bar RemoteController--Bar RemoteController--Bar" "RemoteController--Volume RemoteController--VolumeDown RemoteController--VolumeUp";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: auto auto auto auto;
	border-radius: var(--default-radius);
}

#RemoteController > a {
	text-decoration: none;
	color: inherit;
	background-color: #111111;
}

#RemoteController--title {
	grid-area: RemoteController--title;
	margin: 1.6em;
	margin-top: 1em;
}

#RemoteController--Restart {
	grid-area: RemoteController--Restart;
}

#RemoteController > #RemoteController--Stop {
	grid-area: RemoteController--Stop;
	background-color: #ee3333;
}

#RemoteController--Start {
	grid-area: RemoteController--Start;
}

#RemoteController--Bar {
	grid-area: RemoteController--Bar;
	margin: 1.6em;
	width: 90%;
}

#RemoteController--Volume {
	grid-area: RemoteController--Volume;
}

#RemoteController--VolumeDown {
	grid-area: RemoteController--VolumeDown;
}

#RemoteController--VolumeUp {
	grid-area: RemoteController--VolumeUp;
}

.RemoteController_button, .RemoteController_text {
	padding: 0.6em;
	margin: 2px;
	text-align: center;
}

.RemoteController_button {
	border: 1px solid #cccccc;
	border-radius: var(--default-radius);
}

.RemoteController_button:hover {
	background-color: #333333;
}